
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: hwb(0 18% 82%);
    color: #e3e3e3;
    height:auto;
    min-height:100vh;
}
/* Container styling */
.container {
    font-family: 'Roboto';
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 1em;
    margin-bottom: 1em;
}
h1 {color: rgb(252, 184, 132);}
.title{color: rgb(246, 95, 78);}

